

<div class="container">
<div class="row">
<div class="col-md-4">
  <br>
  <h3 style="color:#0495c9;">Ticket Details</h3>
  <br>
  <div>
   <pre style="color: white;font-weight:bold;font-family:Helvetica;font-size: 1.2em;">Movie:   {{models.movieFirstName}}  {{models.movieSecondName}}</pre> 
    <br>
    <pre style="color: white;font-weight:bold;font-family:Helvetica;font-size: 1.2em;">Tickets-no:      {{model.noOfTickets}}</pre>
    <br>
    <pre style="color: white; font-weight:bold;font-family:Helvetica;font-size: 1.2em;">Screen:      {{model.screen}}</pre> 
     <br>
     <pre style="color: white; font-weight:bold;font-family:Helvetica;font-size: 1.2em;">Class:      {{model.classs}}</pre> 
     <br>
     <pre style="color: white; font-weight:bold;font-family:Helvetica;font-size: 1.2em;">Timings:      {{model.shows}}</pre> 
     <br>
     <pre style="color: white; font-weight:bold;font-family:Helvetica;font-size: 1.2em;">Total:      &#8377;375</pre> 
  </div>
</div>


<div class="col-md-2"></div>
<div class="col-md-6">
  <app-payment></app-payment>

    </div>

</div>
</div>